.navbar {
    background: $bg_dark;
    padding: 0.5rem 0;
    border-bottom: 1px solid $bg_darker;

    .navbar-nav {
        flex-direction: row;

        li {
            padding-right: 1rem;
        }

        .avatar-wrapper {
            .avatar {
                max-height: 37px;
            }
        }
    }
}
