.rolling-input-wrapper {
    .rolling-result {
        @extend .form-control;

        cursor: pointer;

        .editing-part {
            position: relative;

            .editing-cursor {
                height: 0.1rem;
                width: 100%;
                display: inline-block;
                background: $color_red;
                position: absolute;
                left: 0;
                bottom: -5px;
                display: none;
            }
        }

        &.editing {
            .editing-cursor {
                display: block;
            }
        }
    }

    .rolling-buttons {
        display: flex;
        flex-direction: column;

        .rolling-buttons-group {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: -.5rem;
            margin-right: -.5rem;

            &.rolling-buttons-numeric {
                .btn {
                    flex-basis: 15%;
                }
            }
        }

        .btn {
            flex-grow: 1;
            margin: .5rem;
        }
    }

    .rolling-variable-select {
        margin-top: 0.5rem;
    }
}
