.variables-crud-wrapper {
    & > div {
        background: #FFFFFF;
        padding: 1.5rem 1.5rem 0.5rem;
    }

    .form-row {
        display: flex;
        align-items: flex-end;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0 5px;

        .form-group {
            padding-right: 1rem;
            flex-grow: 4;

            input {
                text-transform: uppercase;
            }
        }

        .form-submit-group {
            text-align: right;
            flex-grow: 2;
            padding-right: 0;

            button {
                margin: 0;
                padding-top: 0.45rem;
                padding-bottom: 0.45rem;
            }
        }
    }
}

.variables-crud-list {
    margin-top: 2rem;
    padding-bottom: .25rem !important;

    .table-responsive {
        th {
            padding-top: 0;
            border-top: 0;
        }
    }
}
