body {
    background: $bg_dark;

    pre {
        color: #FFFFFF;
    }
}

.text-bold {
    font-weight: bold;
}

.text-white {
    a {
        color: inherit;
        text-decoration: underline;
    }
}

.user-select {
    user-select: all;
}
