html {
    font-size: 16px;
}

body {
    background: $bg_dark;
    min-width: 800px;
    font-size: 1rem;

    pre {
        color: #FFFFFF;
    }
}

.text-bold {
    font-weight: bold;
}

.text-white {
    a {
        color: inherit;
        text-decoration: underline;
    }
}

.text-good,
a.text-good {
    color: $color_good;

    &:hover {
        color: $color_good;
    }
}

.text-bad,
a.text-bad {
    color: $color_bad;

    &:hover {
        color: $color_bad;
    }
}

.text-ok,
a.text-ok {
    color: $color_ok;

    &:hover {
        color: $color_ok;
    }
}

.user-select {
    user-select: all;
}
