.btn {
    text-decoration: none !important;
    user-select: none !important;

    &:active {
        filter: none !important;
    }

    &:focus {
        box-shadow: none !important;
    }

    &:hover {
        color: $color_white;

        &.disabled {
            bottom: 0;
            cursor: not-allowed;
        }
    }
}

.btn-bad:hover,
.btn-okay:hover,
.btn-good:hover,
.btn-dark:hover {
    color: $color_white;
}

.btn-blue {
    background: $primary;
}

.btn-secondary {
    background: $secondary;
}
