.btn {
    text-decoration: none !important;
}

.btn:active {
    filter: none !important;
}

.btn:focus {
    box-shadow: none !important;
}

.btn:hover,
.btn-bad:hover,
.btn-okay:hover,
.btn-good:hover,
.btn-dark:hover {
    color: #FFFFFF;
}
