select {
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.65;
    }
}

.form-control{
    & + .text-danger {
        margin-top: 4px;
        display: block;
    }

    &:focus {
        border-color: $color_gray;
        box-shadow: none !important;
    }
}

.form-group {
    label {
        text-transform: uppercase;
        font-weight: bold;
    }
}
