$bg_dark: #343a40;
$bg_darker: #23272A;
$bg_dark_hover: #2c3135;


$border_radius: 3px;

$color_white: #FFFFFF;
$color_gray: #8f9093;
$color_gray_dark: #212529;

// Bootstrap
$border-radius: 3px;
$input-border-color: $color_gray;

