body.cover-template {
    text-align: center;
    height: 100%;
    background: url('/images/home-background.jpg') no-repeat center center;
    background-size: cover;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);

    .cover-container {
        overflow: hidden;
        position: relative;

        &:after {
            content: '';
            background: url('/images/question-mark-white.png') no-repeat center right;
            background-size: auto 100%;
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            right: -5%;
            height: 100%;
            z-index: -1;
            opacity: 0.1;
        }

        .cover-content-container {
            color: #FFFFFF;
            width: 40rem;
            max-width: 80%;
        }

        .lead {
            font-weight: normal;
        }

        .btn {
            padding-right: 2rem;
            padding-left: 2rem;
            text-shadow: none;

            .fa-discord {
                margin-right: 1rem;
                font-size: 2rem;
                display: inline-block;
                vertical-align: middle;
            }

            span {
                line-height: 2rem;
                display: inline-block;
                vertical-align: middle;
            }
        }

        footer {
            background: $bg_dark;

            p {
                margin: 0;
            }

            a {
                color: #FFFFFF;
            }
        }
    }
}
